<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
    integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <title>Right Fit</title>
</head>
<body>
    <form action="" method="POST">
        {% csrf_token %}
        <label for="first_name">First Name</label>
        <input type="text" name="first_name" class="form-control mb-3" placeholder="{{user.first_name}}"><br>
        <label for="last_name">Last Name</label>
        <input type="text" name="last_name" class="form-control mb-3" placeholder="{{user.last_name}}"><br>
        <label for="gpa">GPA</label>
        <input type="number" name="gpa" class= "form-control mb-3">
        <label for="test_score">Test Score</label>
        <input type="number" name="test_score" class= "form-control mb-3">
        <label for="activities">Activities</label>
        <input type="text"  name="activities" class= "form-control mb-3">
        <label for="education_interest">Education Interests
        </label>
        <input type="text"  name="education_interest" class= "form-control mb-3">
        <label for="activities">Activities</label>
        <select name="activities" id=""><option value=""></option>
            <option value=""></option>
            <option value=""></option>
            <option value=""></option>
            <option value=""></option>
            <option value=""></option>
        
        </select>
    </form> 
</body>
</html>